[Desktop Entry]
Categories=Qt
Exec=/usr/bin/deepin-gomoku %F
GenericName=Gomoku
Icon=deepin-gomoku
Name=Deepin Gomoku
Keywords=gomoku;game;deepin;
StartupNotify=true
TryExec=/usr/bin/deepin-gomoku 
Type=Application
X-Deepin-Vendor=Deepin

